[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mistune = "*"
python-dotenv = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "2.7"
